body{
    margin: 0;
    padding: 0;
    background: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
  width: 180px;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
}

.part {
  width: 90px;
  height: 90px;
}

.part-1 {
  background-color: #EE4E2A;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.part-2 {
  background: #FB7266;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.part-3 {
  background: #A061FA;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.part-4 {
  background: #2EBDFA;
  border-radius: 50%;
}

.part-5 {
  background: #00CE84;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}