body{
    margin: 0;
    padding: 0;
    background: #DE433F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    position: relative;
    width: 215px;
    height: 405px;
    background-color: green;
}

.forehead{
    position: absolute;
    top: 10px;
    width: 170px;
    height: 200px;
    border-radius: 60%/50%;
    transform: rotate(-18deg);
    background-color:#FED90F;
    border: 1px solid #000000;
}

.hair1{
    position: absolute;
    width: 80px;
    height: 70px;
    /*background-color: red;*/
    top: 15px;
    border-top: 2px solid #000000;
    transform: rotate(-40deg);
    border-radius: 50%;
}

.hair2{
    position: absolute;
    width: 80px;
    height: 70px;
    left: 10px;
    border-top: 2px solid #000000;
    transform: rotate(-30deg);
    border-radius: 50%;
}

.R-eye{
    position: absolute;
    left: 120px;
    width: 75px;
    height: 75px;
    top: 110px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #000000;
}

.pupil-right {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #000000;
    left: 35px;
    top: 40px;
    border-radius: 50%;
    animation: right-eye 3s linear 0s infinite;
}

.L-eye{
    position: absolute;
    width: 75px;
    height: 75px;
    top: 115px;
    left: 60px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #000000;
}

.pupil-left {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #000000;
    left: 25px;
    top: 40px;
    border-radius: 50%;
    animation: right-eye 3s linear 0s infinite;
}

/* first lesson finished*/
.f-side1 {
    position: absolute;
    width: 140px;
    height: 60px;
    background-color: #FED90F;
    top: 185px;
    left: 30px;
}

.f-side2 {
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: #FED90F;
    top: 165px;
    left: 22px;
    transform: rotate(-11deg);
    border-left: 1px solid black;
}

.nose {
    position: absolute;
    width: 60px;
    height: 32px;
    background-color: #FED90F;
    top: 175px;
    left: 130px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}