body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #F0EFED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 350px;
  height: 420px;
  background-color: #F0D0D1;
  border: 20px solid white;
  position: relative;
}

.body {
  position: absolute;
  width: 70%;
  height: 90%;
  background-color: #a35a37;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50% 50% 0 0;
}

.arm-left {
  position: absolute;
  width: 45%;
  height: 20%;
  background-color: #7a3b1a;
  left: 0;
  bottom: 10%;
  border-radius: 0 50px 50px 0;
  transform: skewY(5deg);
}

.arm-right {
  position: absolute;
  width: 45%;
  height: 20%;
  background-color: #7a3b1a;
  right: 0;
  bottom: 10%;
  border-radius: 50px 0px 0px 50px;
  transform: skewY(-5deg);
}

.bow {
  position: absolute;
  width: 30px;
  height: 25px;
  background-color: #F0D0D1;
  right: 25%;
  top: 8%;
  border-radius: 50% 15% 15% 50%;
  transform: rotate(10deg);
}

.bow:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F0D0D1;
  border-radius: 15% 50% 50% 15%;
  left: -30px;
}

.heart {
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: #F0D0D1;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.heart:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0D0D1;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0D0D1;
  transform: translateX(-50%);
  border-radius: 50%;
}

/* part 2 */
.eye-left {
  position: absolute;
  width: 20px;
  height: 10px;
  border: 3px solid #3C2114;
  border-top: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  top: 35%;
  left: 32%;
}

.eye-right {
  position: absolute;
  width: 20px;
  height: 10px;
  border: 3px solid #3C2114;
  border-top: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  top: 35%;
  right: 32%;
}

.lashes {
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: #3C2114;
  bottom: -8px;
  left: 48%;
}

.lashes:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3C2114;
  left: -10px;
  top: -2px;
  transform: rotate(20deg);
}

.lashes:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3C2114;
  right: -10px;
  top: -2px;
  transform: rotate(-20deg);
}

.muzzle {
  position: absolute;
  width: 87px;
  height: 55px;
  background-color: #ffd49d;
  top: 45%;
  left: 27%;
  border-radius: 50px 0 0 50px;
  transform: rotate(-10deg);
}

.muzzle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffd49d;
  left: 100%;
  border-radius: 0 50px 50px 0;
  transform: rotate(20deg);
  transform-origin: left top;
}