body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff09b;
}

* {
  box-sizing: border-box;
}

.donut {
  position: relative;
  width: 200px;
  height: 200px;
}

.donut-body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f77778;
  border: 2px solid #003459;
  border-radius: 50%;
}

.donut-body:before {
  content: "";
  position: absolute;
  width: 93%;
  height: 93%;
  background-color: #faa7a8;
  top: 3px;
  right: 3px;
  border-radius: 50%;
}

.donut-body:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: #fff09b;
  border: 2px solid #003459;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.face {
  width: 32px;
  height: 16px;
  position: absolute;
  border: 3px solid #003459;
  border-top: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  top: 44px;
  left: 84px;
}

.face:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #003459;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -16px;
  box-shadow: 48px 0 #003459;
}

.highlight {
  width: 40px;
  height: 40px;
  border: 8px solid white;
  border-top: 0;
  border-right: 0;
  position: absolute;
  left: 50px;
  top: 105px;
  border-bottom-left-radius: 50px;
  opacity: 0.5;
}